body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  background-color: rgb(145, 85, 47);
  padding: 20px;
  min-height: 100%;
  margin: 50px;
}

.checkin-container {
  gap: 10rem;
}
img {
  max-width: 18rem;
} 
.checkin-section {
  background-color: #e8eceb;
  padding: 15px;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr;
  list-style: disc;
  width: 100%;
}

h1 {
  font-size: 3.6rem;
  margin: 1.9rem auto .2rem;
}