  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/checkins">
      <button type="submit">See all Check-Ins</button>
    </a>
    <% if (user) { %>
      <a class="profile-btn" href="/checkins/:id">
        <button type="submit">Your Profile</button>
      </a>
      <a class="new-checkin-btn" href="/checkins/new">
        <button type="submit" class="beverage-link">Add Check-In</button>
      </a>
      <a href="/beverages">
        <button type="submit">Add Beverage</button>
      </a>
      <a href="/auth/logout" class="logout-link">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
