  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
    
    
  <% } %>
</head>
<body >
  <nav>
    <a class="return-home" href="/">
      <i class="fa-solid fa-mug-hot"></i>
    </a>
    <a href="/checkins">
      <button class="nav-button" type="submit">See all Check-Ins</button>
    </a>
    
    <% if (user) { %>
      <a class="new-checkin-btn" href="/checkins/new">
        <button type="submit" class="nav-button">Add Check-In</button>
      </a>
      <a href="/beverages">
        <button class="nav-button" type="submit">Add Beverage</button>
      </a>
      <a href="/auth/logout" class="logout-link">
        <button class="nav-button" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
