<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

  <main>
    <h1 class="welcome-msg">Welcome, <%= user ? user.profile.name : "Coffee Lover!" %></h1>
    <p class="app-inro">Coffee Shop Tracker lets anyone, from the coffee enthusiast to someone who is just discovering this magical elixir, keep track of which shops and beverages they like the most. Enjoy adding coffee shops and keeping track of places you'd love or never visit again. Loggin to add a Shop!</p>
    <br> 
    <% if (!user) { %>
      <div class="swig-container">
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
    </div>
    <% } %>
    
  </main>

<%- include('./partials/footer') %>
