.new-beverage-container {
  margin-top: 5rem;
  display: grid;
  justify-items: center;
}

.beverage-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b8bbc0;
  height: fit-content;
  margin-top: 6rem;
  padding: .5rem;
}



.beverage-title {
  background-color: #667d83;
  color: #D3D3D3;
  text-align: center;
  font-size: 3.6rem;
  margin: 3rem 0 .2rem;
  width: clamp(20rem, 35vw, 40rem);
  text-shadow: 1px 2px 2px black, 1px 2px 2px black;
  padding: .75rem;
  border-radius: 10px;
  box-shadow: .5px .5px .5px black, .2px .2px 10px .75px black;
}

.form-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #667d83;
  padding: 2rem;
  box-shadow: .5px 1px .5px black;
  border-radius: 5px;
}

label{
  padding: 0 .5rem 0 1rem ;
  font-size: 1.6rem;
  background-color: #D3D3D3;
  border-radius: 5px;
}
.beverage-form{
  background-color: #D3D3D3;
  border-radius: 5px;
  padding: 0 .3rem .3rem 0;
  box-shadow: .5px 1px .5px black;
}

.beverage-input {
  border-radius: 5px;
  border: ridge;
  
  
}
.beverage-button {
  border-radius: 5px;
  border: 0;
  box-shadow: .5px 1px .5px black, .5px 1px .5px black;
}

.beverage-button:hover{
  background-color: #b8bbc0;
}

h6 {
  margin: 1rem 0;
}

.beverage-list-title {
  margin: 1rem 0;
  background-color: #667d83;
  padding: 1rem;
  font-size: 2rem;
  text-shadow: 1px 2px 2px black, 1px 2px 2px black;
  color: #b8bbc0;
  box-shadow: .5px 1px .5px black;
  border-radius: 5px;
}

.beverage-list-ul {
  background-color: #667d83;
  border-radius: 5px;
  box-shadow: .5px 1px .5px black;
  padding: 1rem 3rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.beverages {
  background-color: #b8bbc0;
  padding: 0 1rem;
  margin: .2rem;
  box-shadow: .5px 1px .5px black;
}

#beverage-div-2 {
  width: fit-content;
}