<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/beverages/beverage.css">
<%- include('../partials/nav') %>

<main class="beverage-main">
  <h1 class="beverage-title">Add New Beverages</h1>
  <% if (user) { %>
    <form class="beverage-form" id="add-beverage-form" action="/beverages" method="POST">
      <label for="name-input">Drink:</label>
      <input class="beverage-input" type="text" name="name" id="name-input" required placeholder="Add New Drink">
      <button class="beverage-button" type="submit">Add Drink</button>
    </form>
    <h6>*Please only add drinks that are not on the list. Thank You!</h6>
  <% } %>
  <h3 class="beverage-h3-list">Beverage List:</h3>
  <div class="beverage-container" id="beverage-list">
    <ul class="beverage-list">
      <% beverage.forEach(beverages => { %>
        <li class="beverages"> <%= beverages.name %>  </li>
      <% }) %>
    </ul>
  </div>
</main>
  


<%- include('../partials/footer') %>
